{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Humber | International</title>
    <link rel="stylesheet" href="{% static 'applications/media/index.css' %}">

    </head>
<body>

<div class="bgimg-1">
  <div class="caption">
    <span class="border"><a href="#">Apply Now!</a></span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: center;">
  <h3 style="text-align:center;">WE ARE INTERNATIONAL </h3>
  <p>Humber has been awarded Gold for internationalization excellence in recognition of its efforts to include international activities in several aspects of its Strategic Plan. International students from over 138 countries around the world have chosen Humber as their education destination because of quality services, programming and academic processes.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"><a href="{% url 'accounts:login' %}">Login</a></span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: center;">
    <p>STUDY AT HUMBER<br>
Humber College offers career-focused learning in state-of-the-art labs and classrooms that will prepare you for the job market. We work in partnership with nationally and internationally based institutions and offer a growing number of study abroad options.
        </p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"><a href="http://humber.ca">WE ARE HUMBER</a></span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: center;">
    <p>WHY CHOOSE HUMBER<br>

Whether you are entering Humber directly from high school, previous studies, or after working for a period of time, we are committed to your success. Our students and graduates have made outstanding achievements in all walks of industry. Get ready for your new life!</p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border"><a href="http://humber.ca">WE ARE HUMBER</a></span>
  </div>
</div>

        </body>

</html>
